.login-form-button {
  background-color: #ff6043;
  border-color: #ff6043;
}

.create-account {
  color: #ff6043;
}

.login-form-forgot {
  color: #ff6043;
}

.description-dinOut {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 14px;
}

.description-forgotPass {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 14px;
  margin-top: 15px;
}
