.register-form-button {
  background-color: #ff6043;
  border-color: #ff6043;
}

.create-account {
  color: #ff6043;
}

.description {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 14px;
}
.buttonRegister {
  background-color: #ff6043;
  border-color: #ff6043;
}
